<div class="user_top_nav" >
	<div class="main">
	    <div class="ltit"><span id="top_loginform"></span></div>	
	    <div class="rlink link_lan">
	    	{#include file="top-nav.htm"#}
	    </div>	
	    <div class="clear"></div>
    </div>
</div>
<div class="com_top_box">
	<div class="com_logo f-left"><img src="{#$company.logo#}" alt="公司logo" /></div>
	<div class="com_info f-left">
		<div class="t">{#$company.companyname#}</div>
		<div class="i">{#if $company.trade_cn#}行业：{#$company.trade_cn#}&nbsp;&nbsp;&nbsp;&nbsp;{#/if#}{#if $company.nature_cn#}性质：{#$company.nature_cn#}&nbsp;&nbsp;&nbsp;&nbsp;{#/if#}{#if $company.district_cn#}地区：{#$company.district_cn#}{#/if#}</div>
		<div class="i">{#if $company.scale_cn#}规模：{#$company.scale_cn#}&nbsp;&nbsp;&nbsp;&nbsp;{#/if#}{#if $company.website#}网址：{#$company.website#}{#/if#}</div>
		<div class="i">{#if $company.address#}地址：{#$company.address#}{#/if#}</div>
	</div>
	<div class="com_Qrcode f-left">
		<div class="qrimg"><img src="{#$QISHI.site_domain#}{#$QISHI.site_dir#}plus/url_qrcode.php?url={#$QISHI.site_domain#}{#$QISHI.site_dir#}m/m-wzp.php?company_id={#$company.id#}" alt="扫描二维码" /></div>
		<div class="qrtext">微信扫描，手机浏览</div>
	</div>
	<div class="clear"></div>
</div>
